body {
    font-family: "Lato", sans-serif;
}

.main-head {
    height: 150px;
    background: #FFF;
}


.sidenav {
    position: absolute;
    right: 0;
    width: 70%;
    height: 100%;
    background: #3498db url(https://i.pinimg.com/564x/6d/4c/b9/6d4cb93638d9cef257fd8d737f82e33c.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.img-logo {
    margin-top: 3%;
    margin-left: 22%;
}

.main {
    padding: 0px 10px;
}

.col-md-6.col-sm-12 {
    margin-top: 0%;
    margin-left: 20%;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}



@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
        color: #3b6639;
    }

    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }

    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form {
        margin-top: 10%;
        color: #3b6639;
    }

    .register-form {
        margin-top: 20%;
    }
}



.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

    .login-main-text h2 {
        font-weight: 300;
    }

.btn-black {
    background-color: #3b6639;
    color: #fff;
    width: 372px;
    margin-top: 3%
}
