@{
    ViewBag.Title = "Empty Cart";
}
<head>
    <style>
        #buttonBuyNow {
            color: black;
            border-radius: 0px;
            background: transparent;
            border: solid 2px;
            font-weight: bold;
            font-size: 20px;
        }
    </style>
</head>
<body>

    <div class="container-fluid" style="text-align: center;">
        <br />
        <h2>Giỏ hàng của bạn hiện đang trống</h2>
        <br />
        <img src="https://img.freepik.com/free-vector/removing-goods-from-basket-refusing-purchase-changing-decision-item-deletion-emptying-trash-online-shopping-app-laptop-user-cartoon-character_335657-2566.jpg?t=st=1655772385~exp=1655772985~hmac=9254177d1d62511e3e31e138f648f390aa859aecb75f7dbaddd9a1f5a10aacb0&w=740" style=" width: 30%; " />
        <br />
        <br />
        <h5 style="text-align: center">
            Hãy mua thêm gì đó nhé .  <a href="/" style="color: limegreen">MUA THÊM </a>

        </h5>
        <br />
    </div>
</body>


